/* NOTE: This file won't be used at all and is just here for reference */

.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 1.5em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: gray;
}
.container .gray {
    color: gray;
}
.container .footer {
    width: 25%;
}
.btn {
    border-radius: 0px;
}
.fs-form {
    z-index: 1030;
    padding: 25px 15px;
    margin: 20px auto;
    background-color: #ececec;
}
.fs-form .form-control {
    border-radius: 0px;
}
.fs-form h2 {
    text-align: center;
    margin-top: 0px;
}
.table-error {
    display: inline-block;
    color: #D16565;
}
.form-signin {
    padding-bottom: 15px;
}
.signin-page {
    position: absolute;
}
.form-signin-heading {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
}
.signin-page-overlay {
    width: 100%;
    background-color: black;
    opacity: .6;
    position: absolute;
    z-index: -3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.signin-headline {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #FFFFFF;
}

.navbar-inverse .navbar-toggle {
    border-color: #777574;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #777574;
}
.navbar-brand {
    position: absolute;
    width: 100%;
}
.navbar-menu-button {
    border: 0px;
    float: left;
    margin-left: 15px;
}
.navbar-bet-slip-button {
    height: 30px;
    width: 35px;
    border: 0px;
    background-size: cover;
    margin-top: 10px;
    padding: 0px 5px 0px 0px;
    margin-right: 10px;
}
.badge {
    padding: 3px 4px 4px 4px;
    font-size: 10px;
    line-height: .8;
    background-color: #D16565;
}
.bet-slip-badge {
    position: absolute;
    top: 0px;
    right: 0px;
}
.navbar-toggle {
    z-index: 3;
}
.navbar-right li {
    float: left;
    padding-top: 5px;
    padding-right: 15px;
}
.navbar-right li a {
    color: #777574;
}
.navbar-right li a:hover {
    color: #fff;
    background-color: transparent;
}
@media (max-width: 767px) {
    .mobile-menu {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 0px;
        bottom: 0px;
        height: 100vh;
        padding-top: 50px;
        z-index: 5;
        font-size: 28px;
        font-weight: lighter;
        opacity: .97;
        background: -webkit-linear-gradient(#003D63, #000B26);
        background: -o-linear-gradient(#003D63, #000B26);
        background: -moz-linear-gradient(#003D63, #000B26);
        background: linear-gradient(#003D63, #000B26);
        color: #FFFFFF;
    }
    .mobile-menu > .navbar-nav > li > a {
        color: #FFFFFF;
    }
    .mobile-menu > .navbar-nav > li {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .mobile-menu > .nav > li > a {
        display: inline;
    }
    .navbar-fixed-top .navbar-collapse {
        min-height: 100vh;
    }
    .navbar-inverse .navbar-collapse {
        border-color: #000B26;
    }
}
@media (max-width: 767px) {
    .mobile-bet-slip {
        width: 100%;
        z-index: 4;
        background: white;
        overflow: scroll;
        position: absolute;
        max-height: calc(100vh - 50px);
        top: 50px;
        left: 0px;
    }
    .mobile-bet-slip > .potential-bet-panel {
        margin-top: 0px;
    }
    .mobile-bet-slip > .navbar-nav > li {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .mobile-bet-slip > .nav > li > a {
        display: inline;
    }
    .sidebar-outer {
        display: none;
    }
}
@media (min-width: 767px) {
    .nav > .mobile-show {
        display: none;
    }
    .mobile-show {
        display: none;
    }
    .navbar > .container > .mobile-bet-slip {
        display: none;
    }
}
.menu-bottom {
    display: flex;
}
.menu-account-bottom {
    color: white;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}
.panel {
    border-radius: 0px;
}
.panel-heading {
    border-bottom: 0px;
    border-color: #ececec;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.panel-default > .panel-body {
    border-color: #ececec;
    background-color: #ececec;
}
.panel-default > .panel-heading {
    border-color: #ececec;
    background-color: #ececec;
}
.media-body ol li {
    margin-top: 10px;
    margin-bottom: 5px;
}
.fs-form input[type="text"],
.fs-form input[type="email"],
.fs-form input[type="password"] {
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}
.form-horizontal input[type="text"] {
    margin-bottom: 0px;
}
.potential-bet-panel {
    margin-top: 20px;
    background-color: #ececec;
}
.potential-bet-panel .panel-body {
    padding: 10px;
}
.dropdown-menu {
    background-color: #ececec;
    border-radius: 0px;
    border: 0px;
}
@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
    .mobile-left {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .navbar-right {
        display: none;
    }
}

.navbar-inverse .navbar-brand {
    color: #777;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #1C1C1C;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #1C1C1C;
    background-color: transparent;
}
.navbar-right li a:hover {
    color: #1C1C1C;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #1C1C1C;
    background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1C1C1C;
    background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #c0c0c0;
}
.navbar-inverse .navbar-toggle:focus {
    background-color: #c0c0c0;
}
.no-games-info-message {
    color: #777574;
}
.jumbotron {
    background-color: #FFFFFF;
}
.total-tally {
    background-color: #ececec;
    border: 0px;
}
.team-name {
    text-align: right;
    padding-top: 5px;
}
.alert-danger li {
    list-style-type: none;
}
.welcome-message {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.game-time {
    padding-top: 5px;
    padding-bottom: 5px;
}
.game-row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #777574;
}
.team-row {
    padding-top: 5px;
    padding-bottom: 5px;
}
.bet-amount-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 65px;
    text-align: right;
}
.bet-amount-addon {
    background-color: #FFFFFF;
}
.nav-pills > li:first-child {
    margin-left: 10px;
}
.disabled-input-addon {
    background-color: transparent;
}
.parlay-wager-line {
    height: 50px;
    background-color: transparent;
    border: 0;
}
.wager-amount-label {
    padding: 3px 6px;
    text-align: center;
    background-color: transparent;
    float: right;
    margin-right: 15px;
}
.wager-amount-label,
.input-group-btn {
    vertical-align: middle;
}
.wager-amount-label,
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}
.wager-amount-container input {
    border-left: 0px;
}
.wager-amount {
    border-radius: 0px;
    padding: 6px 3px;
    max-width: 50px;
}
.wager-winnings {
    border-radius: 0px;
    padding: 6px 3px;
    max-width: 50px;
}
.parlay-bet-row > td {
    border-top: 0 !important;
    line-height: 1.0 !important;
    font-size: 12px !important;
    color: #595756;
}
.parlay-bet-date {
    padding-left: 5px !important;
}
.parlay-bet-outcome {
    padding-left: 15px !important;
}
.nav-pills > li > a {
    border-radius: 0;
    padding: 5px 10px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #595756;
}
.potential-bet {
    background-color: #ececec;
    border-radius: 0px;
    border-bottom: 0px;
    border-top: 1px solid;
    border-left: 0px;
    border-right: 0px;
}
.list-group-item:first-child {
    border-top: 0px;
}
.sign-in-form {
    margin: 0 auto;
}
.bet-slip-title {
    padding-top: 10px;
}
.list-group-item:first-child {
    border-top: 0px;
}
.close {
    font-weight: normal;
    opacity: .5;
}
.menu-close {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 18px;
    margin-top: 0px;
    background-color: transparent;
    border: 0;
}
.validation-error {
    padding: 10px 2px;
}
.standings td form {
    display: inherit;
}
.user-record {
    float: right;
    padding-right: 5px;
    padding-bottom: 10px;
}
.user-stats {
    padding-bottom: 20px;
}
:focus {
    outline: none;
}
.mobile-menu > .navbar-nav > li > a:hover,
.mobile-menu > .navbar-nav > li > a:focus {
    color: #FFFFFF;
}
.navbar-header > .navbar-menu-button:focus,
.navbar-header > .navbar-menu-button:hover,
.navbar-header > .navbar-bet-slip-button:focus,
.navbar-header > .navbar-bet-slip-button:hover {
    background-color: transparent;
}
.input-group-addon {
    border-radius: 0px;
    padding: 4px 6px;
}
.bet-amount {
    border-radius: 0px;
    padding: 6px 3px;
    max-width: 50px;
}
.home-page-panel {
    padding: 10px 15px;
}
.home-page-panel-content {
    min-height: 400px;
}
.home-page-panel-content-inner {
    padding-top: 10px;
}
.inner-home-page-panel {
    border: 2px solid #c0c0c0;
    padding: 10px 20px;
}
.league-header {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 100%;
    background-color: #003D63;
    height: 75px;
    color: #FFFFFF;
}
.home-page {
    margin-top: 75px;
}
.league-header-league-name {
    font-size: 28px;
    margin-top: 25px;
    display: inline-block;
}
.league-header-label {
    margin-top: 10px;
}
.league-management-table {
    margin-top: 20px;
}
.league-management-table thead {
    background-color: #ececec;
}
.league-management-table .first-column {
    width: 200px;
}
.league-management-table .setting-value {
    font-weight: bold;
}
.link-button {
    background: none !important;
    color: #189ECA;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}
.table-form-action {
    display: inline-block;
}
.panel-action-row {
    margin-bottom: 10px;
}
.bet-headline {
    font-weight: bold;
}
.home-page-panel-heading {
    color: #003D63;
}
.pending-mini-bet-card {
    background-color: #ececec;
    margin-top: 0;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.pending-bet-card {
    margin: 10px 0;
}
.league-switcher {
    display: inline-block;
    color: #ececec;
    margin-left: 8px;
}
.league-switcher-menu {
    color: #FFFFFF;
    background-color: #003D63;
}
.league-switcher-menu li a {
    color: #FFFFFF;
}
.league-switcher-menu li a:focus {
    background-color: #003D63;
    color: #FFFFFF;
}
.league-switcher-menu li a:hover {
    background-color: #003D63;
    color: #FFFFFF;
}
.pending-bet-panel {
    border: 0px;
    padding-top: 0px;
}
.bet-title-bar {
    padding: 5px 10px;
    background-color: whitesmoke;
    border: solid 1px lightgray;
}
.bet-wager {
    float: right;
}
.pending-bet-card-content {
    padding: 10px;
    width: 100%;
    background-color: #ececec;
    border: solid 1px lightgray;
    border-top: 0px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 880px) {
    .container {
        width: 860px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1096px) {
    .container {
        width: 1070px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.navbar-container {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .navbar-container {
        padding-right: 15px;
        padding-left: 15px;
        width: 780px;
    }
}
@media (min-width: 880px) {
    .navbar-container {
        width: 890px;
    }
}
@media (min-width: 992px) {
    .navbar-container {
        width: 1000px;
    }
}
@media (min-width: 1096px) {
    .navbar-container {
        width: 1100px;
    }
}
@media (min-width: 1200px) {
    .navbar-container {
        width: 1200px;
    }
}
@media (max-width: 415px) {
    .switch-leagues-text {
        display: none;
    }
    .switch-leagues-caret {
        width: 15px;
        height: 20px;
    }
    .caret {
        border-top: 8px solid;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
    }
}
.outcome-card {
    margin-top: 0px;
    margin-bottom: 40px;
    border: solid #777574;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background: #ececec;
}
.rules-panel-rule {
    margin-bottom: 10px;
}
.rules-panel-rule:last-child {
    margin-bottom: 20px;
}
.register-invite {
    margin-top: 10px;
}
.or-between-buttons {
    text-align: center;
    padding: 10px 0px 15px;
}
@media (max-width: 420px) {
    h1 {
        font-size: 26px;
    }
}
ul,
li {
    list-style: none;
}
img {
    display: block;
}
a img {
    border: 0;
}
a {
    text-decoration: none;
    font-weight: normal;
    font-family: inherit;
}
*:active,
*:focus {
    outline: 0;
    -moz-outline-style: none;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.fourohno .logo-small {
    width: 100px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}
.fourohno .help {
    padding-top: 2em;
}
.fourohno h1 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.7em;
}
.fourohno p {
    font-family: "Open Sans", "Myriad Pro", Arial, sans-serif;
    font-size: 1.25em;
    color: #001c20;
    text-align: center;
}
.error-page-explanation {
    margin-top: 20px;
}
.signin-page {
    background-image: url(/images/lsb.jpg);
    background-position: center center;
}
.MainBody {
    padding-top: 50px;
}

