body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 60px;
  padding-bottom: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.signin-page {
  position: absolute;
}

.signin-page-overlay {
  position: absolute;
}

.mobile-menu {
  position: absolute;
}

.menu-close {
  position: absolute;
}

.menu-account-bottom {
  position: absolute;
}

.league-header {
  position: absolute;
}

.btn {
  border-radius: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

